[Unit]
Description=ARG Phone Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=hackers
ExecStart=/home/hackers/arg-phone-software

[Install]
WantedBy=default.target
